.price-box {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    
}
.price-box button {
    border: 2px solid rgb(0, 193, 216);
    display: inline-block;
    padding: 5px 15px;
    letter-spacing: 2px;
    font-size: 16px
}
.price-box p {
    font-size: 22px;
    display: inline-block;
    padding: 25px 15px;
    color: white;
    background-color: rgb(0, 193, 216);
    border-radius: 50%;
    margin-right: 30px
}